@use '../../variables' as v;

.root {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background: v.$background-dark;
    color: v.$text-color-light;
}

.quarter {
    font-size: 1rem;
    font-weight: 700;
}

%button {
    display: block;
    height: 3rem;
    aspect-ratio: 1/1;
    border-style: none;
    transition:
        background-color 0.15s,
        border 0.1s;
    cursor: pointer;
    background: url(../../assets/next.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;

    &:hover {
        background-color: v.$background-hover;
    }

    &:active {
        background-color: v.$background-active;
        border: 1px solid v.$button-color-light;
    }
}

.changeQuarterButton {
    &__previous {
        @extend%button;
        transform: scaleX(-1);
    }

    &__next {
        @extend%button;
    }
}
